@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 400;
    src: url(/font/Material\ Symbols\ Outlined.woff2) format('woff2');
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

/* Reset de Estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f6f6f6;
    color: #333;
}

header {
    background-color: #333;
    color: #f6f6f6;
    padding: 1rem;

}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

.escudos img {
    width: 42px;
    height: 42px;
    margin: 0 40px;

}

.material-symbols-outlined {
    text-decoration: none;
    color: #f6f6f6;
    font-size: 20px;
    align-items: center;
    padding: 10px;


}

.material-symbols-outlined:hover {
    background-color: #f6f6f6;
    color: #333;
    border-radius: 30%;

}

.material-symbols-outlined.home-link {
    background-color: #f6f6f6;
    /* Cor de fundo quando o link Home está selecionado */
    color: #333;
    /* Cor do texto quando o link Home está selecionado */
    border-radius: 30%;
    /* Borda arredondada quando o link Home está selecionado */
}





/* Estilos do Rodapé */
footer {
    background-color: #333;
    color: #f6f6f6;
    text-align: center;
    padding: 30px;
}