/* Reset de Estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f6f6f6;
    color: #333;
}

header {
    background-color: #333;
    color: #f6f6f6;
    padding: 1rem;

}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

.escudos img {
    width: 42px;
    height: 42px;
    margin: 0 40px;

}

.material-symbols-outlined {
    text-decoration: none;
    color: #f6f6f6;
    font-size: 20px;
    align-items: center;
    padding: 10px;


}

.material-symbols-outlined:hover {
    background-color: #f6f6f6;
    color: #333;
    border-radius: 30%;

}

.material-symbols-outlined.home-link {
    background-color: #f6f6f6;
    /* Cor de fundo quando o link Home está selecionado */
    color: #333;
    /* Cor do texto quando o link Home está selecionado */
    border-radius: 30%;
    /* Borda arredondada quando o link Home está selecionado */
}

/* Estilos para a Seção 1 */
.section1 {
    background-color: #f6f6f6;
    color: #333;
}

.image-grid {
    display: flex;
    justify-content: space-between;

}

.image-grid img {
    width: 20%;
    height: auto;
}

.image-grid div img {
    width: 100%;
    height: auto;
    margin-top: 10px;
}

/* Estilos para a Seção 2 */
.section2 {
    background-color: #333;
    color: #f6f6f6;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
    /* Centraliza horizontalmente */
}

.section2 .image-gallery {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;

}

.section2 .image-gallery img {
    max-width: 100%;
    height: auto;
    margin: 4px;
}



/* Estilos do Rodapé */
footer {
    background-color: #333;
    color: #f6f6f6;
    text-align: center;
    padding: 30px;
}

/* CSS PAGINA TITULOS*/

.comemorativo {
    background-color: #f6f6f6;
    color: #333;
}


.image {
    display: flex;
    justify-content: space-between;

}

.image img {
    width: 30%;
    height: auto;
}

.image div img {
    width: 100%;
    height: auto;
    margin-top: 10px;
}

hr {
    border: none;
    height: 5px;
    background-color: #333;
}

.titulos > div > img {
    margin: 0 auto;
}

.titulos{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-between;
}

.titulos > div {
    padding: 20px;
}

.titulos h1 {
    text-align: center;
}