.comemorativo {
    background-color: #f6f6f6;
    color: #333;
}


.image {
    display: flex;
    justify-content: space-between;

}

.image img {
    width: 30%;
    height: auto;
}

/* Logo */
.image div img {
    width: 100%;
    height: auto;
    margin-top: 10px;
}

hr {
    border: none;
    height: 5px;
    background-color: #333;
}

/* trofeus */
.titulos>div>img {
    width: 100%;
    height: auto;
    margin-top: 10px;

}

.titulos {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-between;
}

.titulos>div {
    padding: 20px;
    max-width: 20%;
}

.titulos h1 {
    text-align: center;
}